/* Fonts */
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --glass: hsla(0, 0%, 100%, 0.1);
  --glass-2: hsla(0, 0%, 100%, 0.2);
}
:root {
  --glass: hsla(0, 0%, 100%, 0.1);
  --glass-1: hsla(0, 0%, 50%, 0.1);
  --glass-2: hsla(0, 0%, 100%, 0.2);
  --body-color: hsl(0, 0%, 24%);
  --theme-color-1: #333;
  --theme-color-2: #111;
  --theme-color-3: #1f1f1f;
  --theme-color-4: #eee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* text selection color */
::-moz-selection {
  background: hsla(0, 0%, 50%, 0.75);
  color: #fff;
}
::selection {
  background: hsla(0, 0%, 50%, 0.75);
  color: #fff;
}

body {
  background-color: hsl(0, 43%, 24%);
  background-color: var(--body-color);
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-small {
  max-width: 925px;
  margin: 0 auto;
}

header {
  background-color: hsl(0, 37%, 35%);
  background-color: var(--theme-color-1);
}

header p {
  text-align: center;
  padding-bottom: 0.75rem;
  font-weight: bold;
  color: #eee;
  letter-spacing: 2.5px;
  word-spacing: 3px;
}

.logo {
  text-decoration: none;
  padding: 0.5rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
  letter-spacing: 5px;
}
.logo h1 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: hsl(0, 43%, 18%);
  background-color: var(--theme-color-2);
}

.navigation-large-screen ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  background-color: hsl(0, 43%, 18%);
  background-color: var(--theme-color-2);
}

.navigation-large-screen ul li {
  list-style: none;
  padding: 0.25rem;
}

.navigation-large-screen ul li a {
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  background-color: hsl(350, 45%, 49%);
  color: hsl(350, 83%, 9%);
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1.5px solid hsl(350, 68%, 28%);
}

.navigation-large-screen ul li a:hover,
.navigation-large-screen ul li a:active {
  background-color: hsl(350, 70%, 55%);
  border: 1.5px solid white;
  transition: 0.3s ease-in;
  color: white;
}

footer {
  background-color: hsl(0, 37%, 35%);
  background-color: var(--theme-color-1);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

footer .link {
  text-decoration: none;
  color: #eee;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

.cards-div {
  background-color: hsl(0, 43%, 31%);
  background-color: var(--theme-color-3);
  padding: 1rem;
}

.cards-div h2 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  color: white;
}

.three-items {
  width: 30% !important;
}

.card-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: var(--glass);
  box-shadow: 1px 1px 10px 3px hsla(0, 0%, 0%, 0.514);
  box-shadow: 1px 1px 20px 3px hsla(0, 0%, 100%, 0.25);
  width: fit-content;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.25rem solid #fff;
  margin: 1.25rem 0;

  width: 30%;

  cursor: pointer;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--glass-2);
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 100%;
  margin: 1rem;
}

.card-footer {
  width: 100%;
  background-color: var(--glass-2);
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-footer span {
  padding-top: 1rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  text-align: center;
}
.card-footer p {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .card {
    width: 95%;
  }
}


.error-div-wrapper {
  padding: 2rem;
}

.error-div {
  max-width: 925px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #141414;
  box-shadow: 1px 1px 25px 3px #000;
  border: 2px solid hsl(65, 45%, 49%);
  border-radius: 0.5rem;
  max-width: 925px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

.error-div h2 {
  padding: 1rem;
  font-size: 3.5rem;
  color: hsl(65, 97%, 75%);
  text-align: center;
}

.error-div p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  color: hsl(65, 100%, 90%);
  max-width: 80%;
}

.error-div .btn-div {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#reload {
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  background-color: hsl(200, 60%, 32%);
  color: white;
  color: #eee;
  font-weight: bold;
  border-radius: 2rem;
  border: 3px solid white;
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: 1px 1px 10px hsla(0, 0%, 100%, 0.5);
}

#go-home {
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  background-color: hsl(120, 60%, 32%);
  color: #eee;
  font-weight: bold;
  border-radius: 2rem;
  border: 3px solid white;
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: 1px 1px 10px hsla(0, 0%, 100%, 0.5);
}

@media screen and (max-width: 750px) {
  .btn-div {
    flex-direction: column;
  }
}